html {
    text-align: center;
}
body {
    font-family: 'Open Sans';
    display: inline-block;
    width: 415px;
}
header {
    margin-top: 20px;
    margin-bottom: 45px;
}
header h1 {
    font-family: 'Open Sans';
    font-weight: 800;
    color: rgb(35,71,170);
    line-height: 80%;
    font-size: 8em;
    text-transform: uppercase;
}
#content {
    text-align: left;
}
#authorize-button {
    margin-top: -9px;
}
#tweet-form {
    width: 400px;
    display: inline-block;
    text-align: right;
}
#tweet-text {
    resize: none;
    width: 100%;
    height: 100px;
}
#tweet-submit {
    margin-right: -14px;
}
#characters-left {
    margin-right: 15px;
    color: #888;
}
.tweet-interactions {
    text-align: right;
}
p {
    text-align: left;
}
footer {
    background: rgb(235,235,235);
    margin-top: 20px;
    padding: 10px 14px 25px;
    text-align: center;
    border-top: 1px solid rgb(200,200,200);
}